* {
    padding: 0px;
    margin: 0px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 20px;
}

h2, h3 {
    margin-bottom: 20px;
}

.newspaper-layout {
  display: grid;
  grid-template-areas: 
    'title title title'
    'feature-article feature-article cover-image'
    'secondary-article secondary-article cover-image'
    'small-article1 small-article2 small-article3';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 20px;
}
.title {
  grid-area: title;
  color: white;
  background-color: #1C1B32;
  text-align: center;
  font-size: 1.2em;
  padding: 20px;
}
.feature-article {
  grid-area: feature-article;
}
.secondary-article {
  grid-area: secondary-article;
}
.cover-image {
  grid-area: cover-image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-image > img {
    width: 244px;
    height: 350px;
}

.cover-image > img {
    max-width: 100%;
    border-radius: 5px;
}
.small-article1 {
  grid-area: small-article1;
}
.small-article2 {
  grid-area: small-article2;
}
.small-article3 {
  grid-area: small-article3;
}
.feature-article, .secondary-article {
    background-color: #F9F9F9;
}

.cover-image, .small-article1, .small-article2, .small-article3 {
    background-color: #E9E9E9;
}

.feature-article, .secondary-article, .small-article1, .small-article2, .small-article3 {
    text-align: justify;
    padding: 40px 20px;
}